<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Page for school</title>
    <link rel="shortcut icon" href="../img/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../grid/grid.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/reset.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,700,700i" rel="stylesheet">
    <script src="https://use.fontawesome.com/de60d6322f.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
</head>
<body>
<main>
    <header class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-md-3 col-lg-2 logo">
                    <img src="../img/logo_rosem.png"/>
                </div>
                <div class="col-xs-4 col-md-2 col-lg-8 float-xs-right float-lg-left menu">
                    <div class="menu-button">
                        <img src="../img/burger-menu.svg" id="mob"/>
                    </div>
                    <nav class="menu-popup" data-state="closed">
                        <a href="#" class="active">Main</a>
                        <a href="#">About</a>
                        <a href="#">Services</a>
                        <a href="#">Portfolio</a>
                        <a href="#">Block</a>
                        <a href="#">Contact</a>
                    </nav>
                </div>
                <nav class="col-xs-4 col-md-7 col-lg-2 links">
                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#"><i class="fa fa-search"></i></a>
                </nav>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <ul class="slider owl-carousel owl-theme">
            <li class="item">
                <img src="../img/background.jpg"/>
                <div class="slider-item-description">
                    <h2>if something is not happening for you, it doesn't mean it's never going to happen</h2>
                    <div class="buttons">
                        <a href="#" class="button active">See more</a>
                        <a href="#" class="button">Get now</a>
                    </div>
                </div>
            </li>
            <li class="item">
                <img src="../img/1.jpg"/>
                <div class="slider-item-description">
                    <h2>if something is not happening for you, it doesn't mean it's never going to happen</h2>
                    <div class="buttons">
                        <a href="#" class="button active">See more</a>
                        <a href="#" class="button">Get now</a>
                    </div>
                </div>
            </li>
            <li class="item">
                <img src="../img/2.jpg"/>
                <div class="slider-item-description">
                    <h2>if something is not happening for you, it doesn't mean it's never going to happen</h2>
                    <div class="buttons">
                        <a href="#" class="button active">See more</a>
                        <a href="#" class="button">Get now</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="container content">
        <div class="row">
            <div class="col-xs-12 col-lg-6 col-xl-7 about-us">
                <h4>Who we are & who we do</h4>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias consequatur debitis ducimus, eos eum, fugit inventore, ipsum iure labore laboriosam molestias nihil perferendis provident quae quisquam similique sunt voluptatibus.</span>
                </p>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci doloremque dolorum obcaecati perferendis? Deserunt distinctio dolores, in incidunt ipsa ipsam itaque libero minus nostrum officiis rem sunt! Optio, sapiente.</span>
                </p>
                <a href="#" class="button active">Read more</a>
            </div>
            <div class="col-xs-12 col-lg-6 col-xl-5 devices">
                <img src="../img/devices.png"/>
            </div>
        </div>
    </div>
    <div class="container-fluid second content advantages">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <h4>Our great advanteges</h4>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur doloribus
        similique
        tempora! Alias assumenda cumque dolore laborum nihil numquam quam ratione recusandae, voluptas?
                        Deserunt excepturi id optio perspiciatis totam.</span></p>
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et fugit laborum officiis
        optio temporibus veritatis. Amet autem dolore esse exercitationem, ipsa maiores minima quod
        soluta
        unde? Odio, odit, quisquam.</span></p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur?</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, delectus, est!</li>
                        <li>Lorem ipsum dolor sit amet, consectetur.</li>
                    </ul>
                    <a href="#" class="button active">Read more</a>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <img src="../img/advantages.jpg" alt="img">
                </div>
            </div>
        </div>
        <div class="offer">
            <h4>What we can offer for you</h4>
        </div>
    </div>
    <div class="container-fluid features">
        <div class="container content grid">
            <div class="row grid-icons">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a><i class="fa fa-laptop fa-3x"></i></a>
                    <h4>Development</h4>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa nostrum pariatur quas!</span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a><i class="fa fa-leaf fa-3x"></i></a>
                    <h4>Clean code</h4>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nostrum possimus quisquam!</span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a><i class="fa fa-key fa-3x"></i></a>
                    <h4>Full support</h4>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis, totam.</span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a><i class="fa fa-trophy fa-3x"></i></a>
                    <h4>Winner design</h4>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at laudantium magni molestias vitae. Provident.</span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a><i class="fa fa-cogs fa-3x"></i></a>
                    <h4>Easy to customize</h4>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nostrum possimus quisquam!</span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a><i class="fa fa-power-off fa-3x"></i></a>
                    <h4>Creative design</h4>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, voluptates.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid portfolio">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 portfolio-menu">
                    <h4>Show your portfolio</h4>
                    <nav>
                        <a href="#">All items</a>
                        <a href="#">Web design</a>
                        <a href="#" class="active">Print design</a>
                        <a href="#">Photography</a>
                        <a href="#">Applications</a>
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 card">
                    <div class="image-card">
                        <img src="../img/3.jpg">
                        <div class="overlay">
                            <img src="../img/add.svg">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="name">
                            <h3>Business card</h3>
                            <span>Print design</span>
                        </div>
                        <div class="view">
                            <label>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span>748</span>
                            </label>
                            <label>
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span>175</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 card">
                    <div class="image-card">
                        <img src="../img/corp_id_6.jpg">
                        <div class="overlay">
                            <img src="../img/add.svg">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="name">
                            <h3>Corporate identity</h3>
                            <span>Print design</span>
                        </div>
                        <div class="view">
                            <label>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span>748</span>
                            </label>
                            <label>
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span>175</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 card">
                    <div class="image-card">
                        <img src="../img/flyer_design.jpg">
                        <div class="overlay">
                            <img src="../img/add.svg">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="name">
                            <h3>Corporate flayer</h3>
                            <span>Print design</span>
                        </div>
                        <div class="view">
                            <label>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span>748</span>
                            </label>
                            <label>
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span>175</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 card">
                    <div class="image-card">
                        <img src="../img/cv.jpg">
                        <div class="overlay">
                            <img src="../img/add.svg">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="name">
                            <h3>Resume/CV</h3>
                            <span>Print design</span>
                        </div>
                        <div class="view">
                            <label>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span>748</span>
                            </label>
                            <label>
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span>175</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 card">
                    <div class="image-card">
                        <img src="../img/6.jpg">
                        <div class="overlay">
                            <img src="../img/add.svg">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="name">
                            <h3>Bi-Fold brochure</h3>
                            <span>Print design</span>
                        </div>
                        <div class="view">
                            <label>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span>748</span>
                            </label>
                            <label>
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span>175</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 card">
                    <div class="image-card">
                        <img src="../img/7.jpg">
                        <div class="overlay">
                            <img src="../img/add.svg">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="name">
                            <h3>Tri-Fold brochure</h3>
                            <span>Print design</span>
                        </div>
                        <div class="view">
                            <label>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span>748</span>
                            </label>
                            <label>
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span>175</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 card">
                    <div class="image-card">
                        <img src="../img/4.jpg">
                        <div class="overlay">
                            <img src="../img/add.svg">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="name">
                            <h3>Multipurpose certificate</h3>
                            <span>Print design</span>
                        </div>
                        <div class="view">
                            <label>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span>748</span>
                            </label>
                            <label>
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span>175</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 card">
                    <div class="image-card">
                        <img src="../img/8.jpg">
                        <div class="overlay">
                            <img src="../img/add.svg">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="name">
                            <h3>Logo template</h3>
                            <span>Print design</span>
                        </div>
                        <div class="view">
                            <label>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span>748</span>
                            </label>
                            <label>
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span>175</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 card">
                    <div class="image-card">
                        <img src="../img/9.jpg">
                        <div class="overlay">
                            <img src="../img/add.svg">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="name">
                            <h3>Stationery template</h3>
                            <span>Print design</span>
                        </div>
                        <div class="view">
                            <label>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span>748</span>
                            </label>
                            <label>
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span>175</span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer class="container-fluid">
        <div class="img">
            <div class="col-sm-12 col-md-6 goal">
                <h4>Work hard Dream big</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, doloribus eum facere harum
                    molestias omnis placeat.</p>
                <a>Lorem ipsum dolor. | SEO</a>
            </div>
        </div>
    </footer>
</main>


<script src="../scripts/slider.js"></script>
<script src="../scripts/mobileMenu.js"></script>


</body>
</html>
